.dashboard{
    display: flex;
    position: relative;

    width: 100%;
    height: 100%;

    aside{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 100;

        width: 0;
        height: 100%;
        box-shadow: 4px 7px 10px rgba(0,0,0,.4);
        background-color: var(--color-dark);

        section{
            display: none;
            place-items: center;

            height: 100%;
            width: 100%;
            
            a{
                text-decoration: none;
                font-weight: 500;
                color: var(--color-text-lighter-gray);
                font-size: 2rem;
                transition: all .3s;
                position: relative;

                &::after{
                    content:'';
                    width: 102%;
                    height: 100%;
                    position: absolute;
                    top:0;
                    left:0;
                    border-radius:2px;
                    background:radial-gradient(circle at 94.02% 88.03%, var(--color-text-lighter), transparent 100%);
                    opacity:0;
                    transition:all .5s ease;
                    z-index: 100;
                }

                &:hover:after{
                    opacity: 1;
                }
                
            }

        }
    }

    cta{
        display: grid;
        place-items: center;
        position: relative;
        
        height: 100%;
        background-color: var(--color-text-lighter-gray2);
        
        span{
            font-size: 3rem;
            transition: all .2s;

            &:hover{
                color: var(--color-link-hover);
                cursor: pointer;
            }
        }
    }

    #cta{
        display: none;
        place-items: center;
        position: relative;
        
        height: 100%;
        color: var(--color-text-lighter);
        background-color: var(--color-dark);
        
        span{
            font-size: 3rem;
            transition: all .4s;

            &:hover{
                color: var(--color-link-hover);
                cursor: pointer;
            }

        }
    }

    > article{

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        background-color: var(--color-text-lighter-gray2);
        padding: 2rem;

        h1{
            align-self: start;
        }

        section{
            display: grid;
            grid-gap: 2rem;
            align-items: center;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

            margin-top: 2rem;
            width: 100%;

            group{
                display: flex;
                flex-direction: column;

                min-width: 25rem;
                text-align: center;
                border: 2px solid var(--color-text-lighter-gray);
                border-radius: 6px;
                overflow: hidden;
                transition: all .5s;
                
                animation: cardsAnimation 1s linear;

                &:hover{
                    box-shadow: 2px 3px 5px rgba(0,0,0,.4);
                    border: 2px solid var(--color-text-grayish);
                }
                
                subgroup{
                    
                    display: flex;
                    align-items:center;

                    background-color: var(--color-background);
                    padding: 1rem;

                    span{
                        margin-right: .7rem;
                        color: var(--color-text-lighter-gray2);
                    }

                    span + span{
                        font-size: 1.8rem;
                        font-weight: 600;
                    }
                    
                }

                subgroup + span{
                    font-size: 2.4rem;
                    font-weight: bold;
                    margin: 1.4rem 0;
                }

            }

            /* group subgroup{
                background-color: var(--color-light-red);
            }

            group + group subgroup {
                background-color: var(--color-light-purple);
            }

            group + group + group subgroup{
                background-color: var(--color-light-green);
            } */
        }
    }

    .canvasContainer{
        width: 50rem;
        height: 25rem;
        margin-top: 5rem;
    }
}

.open{
    animation: sideCorno .5s linear;
}

.close{
    animation: sidePraga .5s linear;
}

@keyframes cardsAnimation{
    from{
        
        opacity: 0;
    }

    to{
        
        opacity: 1;
    }
}

@keyframes sideCorno{
    from{
        width: 0;
        
    }

    to{
        
        width: 30vw;
    }
}

@keyframes sidePraga{
    from{
        width: 30vw;
        
    }

    to{
        width: 0;
        
    }
}

.dashboard{ 
    @media only screen and (max-width: 900px){
        .canvasContainer{
            width: 40rem;
            height: 20rem;
        }
    }

    @media only screen and (max-width: 715px){
        .canvasContainer{
            width: 34rem;
            height: 17rem;
        }
    }
}