.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    
    padding: 2rem 4rem;
    background-color: var(--color-background);
    grid-column: full-start / full-end;

    &__menu{
        display: flex;
        align-items: center;
        
        height: 5rem;
        min-width: 18rem;
        color: var(--color-text);

        > section{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &--title{
            font-weight: bold;
            font-size: 2.3rem;
        }
    }

    div + section + div{
        display: flex;
        align-items: center;
        justify-content: space-around;

        min-width: 200px;

        a, span:not(:last-child){
            margin-right: 1rem;
        }

        @media only screen and(max-width: 950px){
            display: none;
        }
    }

    a{
        color: var(--color-text);
        text-decoration: none;
        font-weight: 600;
        transition: all .2s;

        &:hover{
            color: var(--color-link-hover);
        }   
    }

    .material-icons{
        color: var(--color-text);
        cursor: pointer;
        transition: all .2s;

        &:hover{
            color: var(--color-link-hover);
        }
    }

    .searchBar{
        display: flex;
        align-items: center;

        span{
            display: grid;
            place-items: center;

            width: 50px;
            height: 34px;
            background-color: var(--color-icons-gold);
            border-radius: 6px;
            transition: all .3s;

            &:hover{
                color: var(--color-text-dark)
            }
        }

        input{
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}

aside.mdc-drawer div nav a .mdc-list-item__text{
    color: var(--color-text-lighter-gray2) !important;
}

@media only screen and(min-width: 949px){
    #menu{
        display: none;
    }
}
