:root{
    --color-background: #203040;
    --color-text-dark: #2b3947;
    --color-text-grayish: #818181;
    --color-text-lighter-gray:#d1d1d1;
    --color-text-lighter-gray2:#f0f0f0;
    --color-text-important:  #f5461a;
    --color-icons-gold: goldenrod;
    --color-icons-gold-light: rgb(255, 247, 226);
    --color-success: rgb(9, 143, 9);
    --color-error: red;
    --color-text: white;
    --color-bg-light: #f9fcff;
    --color-link-hover: #f08040;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font: 1.6rem 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: [full-start] 
    minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
    minmax(6rem, 1fr) [full-end];
    height: 100%;
}