:root{
    --color-background: #203040;
    --color-dark: #202020;
    --color-text-dark: #2b3947;
    --color-text-lighter: #66a7e7;
    --color-text-grayish: #818181;
    --color-text-lighter-gray: #b7c5d3;
    --color-text-lighter-gray2: #eef6ff;
    --color-text-important:  #f5461a;
    --color-icons-gold: goldenrod;
    --color-icons-gold-light: rgb(255, 247, 226);
    --color-success: rgb(9, 143, 9);
    --color-light-green: rgb(40, 177, 40);
    --color-light-purple: rgb(139, 77, 255);
    --color-light-red: rgb(255, 66, 66);
    --color-error: red;
    --color-text: white;
    --color-bg-light: #f9fcff;
    --color-link-hover: #f08040;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font: 1.6rem 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: [full-start] 
    minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
    minmax(6rem, 1fr) [full-end];
    height: 100%;
}

.mdc-list-item__text{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.mdc-list-item__graphic{
    font-size: 2.5rem;
    color: goldenrod !important;
}

@media only screen and(max-width: 900px){
    html{
        font-size: 58%;
    }
}

@media only screen and(max-width: 801px){
    html{
        font-size: 54%;
    }
}

@media only screen and(max-width: 650px){
    html{
        font-size: 51%;
    }
}