.desactivate {
    display: none;
}

.generalContentTitle{
    font-weight: 700;
    font-size: 2.1rem;
    display: block;
}

.generalBiggerTitle{
    font-weight: 700;
    font-size: 2.6rem;
    display: block;
}

.title{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 3rem;
    display: block;
    color: var(--color-text-dark)
}

.generalImportantMessage{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-text-important);
}

.success{
    color: var(--color-success);
}

.error{
    color: var(--color-error);
}