.desactivate {
    display: none;
}

.generalContentTitle{
    font-weight: 700;
    font-size: 2.1rem;
    display: block;
}

.generalImportantMessage{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-text-important);
}

.success{
    color: var(--color-success);
}

.error{
    color: var(--color-error);
}